/* CSS Document */

@font-face {
  font-family: 'DINCondensed-Bold';
  src: url('../fonts/DINCondensed-Bold.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/DINCondensed-Bold.woff') format('woff'), 
	  url('../fonts/DINCondensed-Bold.ttf')  format('truetype'), 
	  url('../fonts/DINCondensed-Bold.svg#DINCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'DINPro-Bold';
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),  
     url('../fonts/DINPro-Bold.otf')  format('opentype'),
	 url('../fonts/DINPro-Bold.woff') format('woff'), 
	 url('../fonts/DINPro-Bold.ttf')  format('truetype'), 
	 url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINPro-Regular';
  src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),  
	 url('../fonts/DINPro-Regular.otf')  format('opentype'),
	 url('../fonts/DINPro-Regular.woff') format('woff'), 
	 url('../fonts/DINPro-Regular.ttf')  format('truetype'), 
	 url('../fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'KaLaTeXaDisplay';
  src: url('../fonts/KaLaTeXaDisplay.eot?#iefix') format('embedded-opentype'),  
  	 url('../fonts/KaLaTeXaDisplay.otf')  format('opentype'),
	 url('../fonts/KaLaTeXaDisplay.woff') format('woff'), 
	 url('../fonts/KaLaTeXaDisplay.ttf')  format('truetype'), 
	 url('../fonts/KaLaTeXaDisplay.svg#KaLaTeXaDisplay') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KaLaTeXaDisplayExtraBold';
  src: url('../fonts/KaLaTeXaDisplayExtraBold.eot?#iefix') format('embedded-opentype'),  
  	     url('../fonts/KaLaTeXaDisplayExtraBold.otf')  format('opentype'),
	     url('../fonts/KaLaTeXaDisplayExtraBold.woff') format('woff'), 
		 url('../fonts/KaLaTeXaDisplayExtraBold.ttf')  format('truetype'), 
		 url('../fonts/KaLaTeXaDisplayExtraBold.svg#KaLaTeXaDisplayExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


